body {
  background-color: rgb(11, 0, 40);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h1,
span {
  color: rgb(94, 236, 255);
}

.container {
  display: flex;
  justify-content: center;
}

.letter {
  font-size: 2rem;
  display: inline-block;
  white-space: pre;
}

.last-letter {
  padding-right: 0.2rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    border-right: 1px solid rgb(94, 236, 255);
  }

  50% {
    border-right: 1px solid rgb(11, 0, 40);
  }

  100% {
    border-right: 1px solid rgb(94, 236, 255);
  }
}
